@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');/*style titre font-family: 'Press Start 2P', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Zilla+Slab+Highlight:wght@700&display=swap');
/* style chapitre font-family: 'Zilla Slab Highlight', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&family=Zilla+Slab+Highlight:wght@700&display=swap');/* style texte font-family: 'Special Elite', cursive;*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1
{
    font-family: 'Press Start 2P';
    /* display: flex; */
    /* justify-content: center; */
    color:#1bff80bf;
    background:black;
    margin: 0;
    text-align: center;
}

.mainBody
{
    background-color:black;
    width: 100%;
    height: 100vh;
    padding: 10px;
   justify-content: center;
    border-color: black;
    background-image: url("../assets/background_house.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        
}
.box{
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction : column;
    font-family: 'Press Start 2P';

}

.card_context
{
    width: 90%;
    align-self: center;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    background-color: rgb(255, 182, 65, 0.8);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
    text-align: center;

}

.card-header{
    color: #0c6e38bf;
}
.middle_box
{
    padding-top: 10%;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self:center;
    justify-content: space-around;
}

.corps-txt
{
    display: flex;
    flex-direction: column;
    width:80%;
}

.card_question
{
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left:10px;
    background-color: rgb(255, 182, 65, 0.8);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
    align-self: flex-start;
}

.card_choice
{
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(255, 182, 65, 0.8);
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
    align-self: flex-end;
}

.card_choice:hover{
    border: 5px groove #1bff80bf;
    border-radius: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;    

}

#pnj {
    width:  30%;
    height: auto;
    margin-left: 10px ;
}
#hero {
    width: 30%;
    height: auto;
    margin-left: 10px ;
}

.asset{
    border: 5px ridge #1bff80bf;
    border-radius: 20px;
    background-color: rgb(150, 131, 131, 0.7);
}

